body {
    font-family: monospace;
    background-color: rgb(20, 5, 15);
    color: rgb(174, 226, 215);
    flex-wrap: wrap;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


section {
    background-color: cadetblue;
    font-family: monospace;
    color: rgb(75, 14, 110);
    margin-left: auto;
    margin-right: auto;
    padding: 3px 30px;
    min-height: 65px;
    height: auto;
    border: 3px solid rgb(134, 194, 181);
    border-radius: 3px;
    min-width: 40px;
    max-width: 200px;
}
nav {    
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 30px;
    min-height: 65px;
    height: auto;    
    min-width: 40px;
    max-width: 200px;
}
li {
    padding : 6px;
    font-weight: 600;
}
li a:hover  {
    color: blue;
    font-size: larger;
    box-shadow: -2px 2px rgb(68, 41, 75);
}
/*li~li~li a{
    color: blue;
}*/
a {
    text-decoration: none;       
}