body {
    font-family: monospace;
    background-color: rgb(20, 5, 15);
    color: rgb(174, 226, 215);
    /* flex-wrap: wrap;     */
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
    border: 1px solid rgb(112, 62, 170, 0.295);
    width: 520px;
    border-radius: 3px;
}
.headerCont{   
    background-color: rgba(112, 62, 170, 0.295);
    height: 80px;
    width: 500px;
    /* position: relative; */
    margin: 20px auto;
    text-align: center;   
    border-radius: 3px; 
}
.header{    
    display: flex;
    background-color: rgba(174, 130, 216, 0.699);
    height: 60px;
    width: 60px;
    margin: 10px;
    position: absolute;
    margin-left: 10px; 
    border-radius: 3px;
}
.log{
    display: flex;
    background-color: rgba(77, 35, 126, 0.7);
    height: 80px;
    margin: 4px;
    width: 4px;
    height: 52px;
    position: relative;
}
h2{
    position: relative;
    text-align: end;
    padding-right: 150px;
    padding-top: 28px;
}
#inputArray {
    padding: 3px 3px;
    height: 50px;
    border: 3px solid rgb(134, 194, 181);
    margin: 5px;
    border-radius: 3px;
    min-width: 270px;
    max-width: 600px;    
}

input[type="button"] {
    font-family: monospace;
    padding: 3px 3px;
    height: 29px;
    border: 3px solid rgb(134, 194, 181);
    background-color: rgb(204, 200, 207);
    margin: 8px 8px;
    border-radius: 3px;
    min-width: 70px;
    max-width: 290px;
}
.container {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
}
.contDes {    
    display: grid;
    width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="button"]:active{
    color: rgb(134, 194, 181);
    background-color: rgb(108, 101, 119);
}
input[type="button"]:focus{
    color: rgb(134, 194, 181);
    background-color: rgb(49, 31, 75);
}
#cajaResultado {
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 5px;
    min-height: 65px;
    height: auto;
    border: 3px solid rgb(134, 194, 181);
    border-radius: 3px;
    min-width: 70px;
    max-width: 290px;
}
#canvas{
    background-color: rgb(134, 194, 181);    
    /* border: 3px solid rgb(154, 248, 228); */
}
#dibujo{
    display: flex;    
    justify-content: center;
    padding-bottom: 20px;
}
#contCanvas{
    
    justify-items: center;
    width: 450px;
    background-color: rgb(134, 194, 181);    
    border: 3px solid rgb(154, 248, 228);
}